canvas {
  border: 10px solid #0C2340;
  border-radius: 50%;
}

input {
  display: block;
  border-radius: 8px;
  margin: 4px;

}

.wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.container {
  position: relative;
}

.winner {
  font-size: 32px;
  margin-bottom: 1rem;
  height: 28px;
  background: #0C2340;
  position: absolute;
  left: 2px; 
  top: 50%;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  z-index: 999;
}


.rotatewheel {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #0C2340;
  background-color: #FFC72C;
  background-repeat: no-repeat, repeat;
  background-size: 60px;

}

.logo {
 margin: 6px 6px;
 width: 35px;
 height: 35px;
}

.btn-group {
  position: relative;
  height: 200px;

  
}
.btn-start {
  width: 185px;
  height: 48px;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  display: block;
  position: absolute;
  left: 45%;


}

.btn-add {
  width: 185px;
  height: 48px;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  display: block;
  position: absolute;
  left: 45%;
  
  margin-top: 60px;
}

.btn-remove {
  width: 185px;
  height: 48px;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  display: block;
  position: absolute;
  left: 45%;
  top: 62%;

}
.spin-wheel {
  margin: 0 auto;
  -webkit-animation: rotate 0.5s linear infinite;
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 720px){
	canvas {
   
    width: 320px;
    height: 320px;
  }
  .btn-start {
    left: 30%;
  
  }

  .btn-add {
   left: 30%;
    ;
  }

  .btn-remove {
    left: 30%;
  
  }
}

@media screen and (max-width: 320px){
	canvas {
   
    width: 220px;
    height:220px;
  }

  .btn-start {
    left: 20%;
  
  }

  .btn-add {
    left: 20%;
  }

  .btn-remove {
    left: 20%;
  }
}

